<h1>Find out how much it costs to ship your package!</h1>

<form action="/output">
  <h2>What are your dimensions in inches?</h2>
  <div class="form-group">
    <label for="length">Length?</label>
    <input id="l" name="length" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="width">Width?</label>
    <input id="wi" name="width" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="height">Heigth?</label>
    <input id="h" name="height" class="form-control" type="text">
  </div>
  <h2>Fantastic! Now what's the weight of your package in pounds?</h2>
  <div class="form-group">
    <label for="weight">Weight?</label>
    <input id="we" name="weight" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">How much?!</button>
</form>
